@font-face {
    font-family: 'Boldonse';
    src: url('Boldonse-Regular.woff2') format('woff2'),
        url('Boldonse-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

